/*
*= require_tree .
*= require_self
*= require inputosaurus
*/


@import "bootstrap";

.navbar {
	background-color: #d35400;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.thumbnail {
	height: 450px;
	width: 300px;
}

